<div class="page-header">
  <h1>Images</h1>
</div>

<p><%= link_to 'Add a New Image', new_image_url, class: 'btn btn-primary' %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Url</th>
      <th>Idea</th>
      <th>Artist</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.url %></td>
        <td><%= image.idea_id %></td>
        <td><%= image.artist_id %></td>
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, image_url(image), class: 'btn btn-primary' %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_image_url(image), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, image_url(image), method: 'delete', data: { confirm: "Do you really want to delete this image?" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

